@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/myfont.woff2') format('woff2'),
         url('fonts/myfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 768px) {
    .calculator {
      width: 90%;
      margin: 0 auto;
    }
  
    .screen {
      font-size: 1.5rem;
    }
  
    .buttons {
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
  
    button {
      font-size: 1.2rem;
      padding: 15px;
    }
  }


body {
    margin: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'MyCustomFont', sans-serif;
    color: black;
    background-color: #FDFFE1;
    background-size: cover;
}

#containerIndex 
{
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

#logo
{
    color: black;
    text-align: center;
    padding: 10px;
}

.menu {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    background-color: #FDFFE1;
    padding: 10px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.menu-item {
    margin: 0 15px;
}

.menu-item a {
    color: #070707;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.menu-item a:hover {
    background-color: #bdbbb1;
    border-radius: 4px;
}

.round-image {
    float: right;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%; 
    object-fit: cover;
}

#showreel
{
    color: #000000;
    text-align: center;
    padding: 20px;
    align-items: flex-start;
}

#aboutme
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    top: 50%;
    color: black;
}

.aboutmeContainer
{
    float: right;
    display: flex;
}

.text
{
    padding: 10px;
    margin-top: 10px;
}

#github a
{
    color: #531bac;
    text-align: center;
    text-decoration: none;
}

#linkedin
{
    display: inline-block;
    justify-content: center;
    color: #000000;
    background-color: #7ac4f5;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #030303;
    border-radius: 8px; 
}

#linkedin a
{
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

#linkedin a:hover
{
    background-color: #072757;
    border-radius: 20px;
}

.contact
{
    /* display: flex;
    flex-direction: column; */
    float: right;
    display: inline;
    justify-content: center;
    color: #000000;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #030303;
    border-radius: 8px;

    position: absolute;
    top: 60%;
    right: 70%;
    transform: translate(-50%);

    background-color: #f1f1e9;

}

.contact-item
{
    size: 10px;
    padding: 5px;
}

#programs
{
/*     width: 15%;
    top: 35%; */
    text-align: center;
    padding: 5px;
    border-left: 2px dotted #333;
    border-right: 2px dotted #333;
}

.images
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 5px;
}

.image{
    width: 25px;
    height: auto; 
    object-fit: cover;
}

#cv
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

#cv2
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.cv-item
{
    padding: 20px;
    text-align: center;
    border: 2px solid #000000;
    background-color: #f1f1e9;
}

.list
{
    text-align: center;
    list-style-type: disc;
    margin: 20px;
    padding: 0px;
}

#footer
{
    background-color: lightgray;
    text-align: center;
    padding: 5px;
    color: black;
}

/* 3dGeneralist */

#genContent
{
    color: #000000;
    text-align: center;
    padding: 20px;
}

#back a
{
    color: #070707;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

/* pages with videos */

#contentVideo
{
    color: #000000;
    text-align: center;
    padding: 20px;
}
